*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    /* height: 50000px; */
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

:root{
    --main-color : #003580 ;
    --second-color : #0071c2 ;
}